.card{
    background: hsl(11,73%,66%);
   
    margin: 2rem auto;
    text-align: center;
    color:white;
    height: 20rem;
    height: auto;
  
    padding-bottom: 20px;
    border-radius: 1rem;
    /* transform: translateY(10rem); */
}

@media (max-width:500px) {
    .card{
        max-width: 20rem;
    }
    
}
.card__title{
    padding: 1rem 2rem;
    letter-spacing: 1.6px;
}
.card__description{
    padding:1rem 2rem;
    margin-bottom: 2rem;
   
}
.card__button{
    background: white;
    color:black;
    padding: 1rem;
    margin-top: -1rem;
    outline:none;
    border:none;
    
}
.webdesign,.appdesign,.graphicdesign{
    display: grid;
    display: -ms-grid;
   grid-template-columns: 1fr ;
   -ms-grid-column:1fr ;

   padding: 0rem 1rem;
   gap:5rem;
  
   place-content: space-evenly;
   place-items: center;

  
}
.webdesign__img,.appdesign__img,.graphicdesign__img{
   width: 25rem;
   margin: 0 auto;
   
   object-fit: contain;
}



@media only Screen and (min-width:500px) and (max-width:1080px){
    .card__description{
     padding: 1rem 5rem;
    }
    .card{
        max-width: 100%;
    }
    
    .webdesign,.appdesign,.graphicdesign{
        display:flex;
        flex-flow: row wrap; 
    
       
      
      

      
   }
   .webdesign__img,.appdesign__img,.graphicdesign__img{
       width: 45rem;
    
   }
}
@media only Screen and (min-width:1080px){
    .card{
       
        max-width: 80rem;
        height:20rem;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-image: url('../../public/assets/images/graphic-design/desktop/bg-pattern-intro-graphic.svg');
        background-position: center ;
        background-repeat: no-repeat;
       
    }
    .card__title{
        font-size: 40px;
        max-width: 25rem;
        padding-top: 3rem;
        text-align: left;
        font-weight: bold;
    }
    .card__description{
        max-width: 25rem;
        text-align: left;
       
    }
    .card__button{
        height: 5rem;
        width: fit-content;
        width: -moz-fit-content;
        border-radius: 1rem;
        padding: 2rem;
        
    }

    .webdesign,.appdesign,.graphicdesign{
         display: grid;

         display:-ms-grid;
       
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr;
     
        

       
    }
    .webdesign__img,.appdesign__img,.graphicdesign__img{
        width: 25rem;
       
    }
   
   
    .homepage__card--graphic,.homepage__card--app,.homepage__card--web{
     
        width: 15rem;

    }
    
}

